notebook
#albumentations==1.4.18
albumentations
matplotlib==3.9.2
monai==1.4.0
numpy
Pillow==11.0.0
psutil==6.1.0
pycocotools==2.0.8
PyYAML==6.0.2
rasterio
safetensors==0.4.5
scikit_learn==1.5.2
tensorboard==2.18.0
--extra-index-url https://download.pytorch.org/whl/cu118
torch
torchvision
torchaudio
torchmetrics==1.5.0
tqdm==4.66.5
typer